@model TryMeBitch.Models.AlertHistory

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>AlertHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition.MessageTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiredAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageSent)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="Id" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Back to List</a>
    </form>
</div>
