@model TryMeBitch.Models.AlertHistory

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>AlertHistory</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Definition)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Definition.MessageTemplate)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FiredAt)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FiredAt)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RecipientEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RecipientEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.ObservedValue)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.ObservedValue)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.MessageSent)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.MessageSent)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.Id">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
